<template>
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item v-for="link in links1" :key="link.text" :to="link.to" v-ripple clickable>
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <q-item v-for="link in links4" :key="link.text" :to="link.to" :href="link.href" v-ripple clickable>
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

        </q-list>
      </q-scroll-area>
</template>

<script>
export default {
  setup () {
    return {
      links1: [
        { icon: 'home', text: 'Home', to: '/' },
        { icon: 'widgets', text: 'Projects', to: '/projects' },
      ],
      links4: [
        { icon: 'help', text: 'About', to: "/about" },
        { icon: 'feedback', text: 'Send feedback', href: 'https://gitlab.com/beraldoleal/insights4ci/-/issues/new' }
      ]
    }
  }
}
</script>
